# Arquivos do PyInstaller
build/
dist/
*.spec

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de dados (isto é apenas para teste e deve ser excluído antes de usar)
games.json

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo